@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom colors */
@layer utilities {
  .bg-olive {
    background-color: #283316;
  }

  .text-olive {
    color: #283316;
  }

  .bg-khaki {
    background-color: #9a895a;
  }

  .text-khaki {
    color: #9a895a;
  }

  .border-khaki {
    border-color: #c3b091;
  }

  .bg-beige {
    background-color: #f5f5dc;
  }

  .text-beige {
    color: #f5f5dc;
  }

  .border-beige {
    border-color: #f5f5dc;
  }

  .bg-gray-gradient {
    background: linear-gradient(to right, #9e9e9e, #737373);
  }

  .text-gray-gradient {
    color: linear-gradient(to right, #e5e5e5, #737373);
  }

  .bg-clip-text-css {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}  